.text-justify{
    text-align: justify;
}
.img-digital{
    max-height: 30em;
    width: 100%;
    box-shadow: -15px 15px #6c757d;
}
.img-benefit{
    width: 100%;
    min-height : 23rem !important;
    box-shadow: 15px -15px #6c757d;
}
.img-marketing{
    min-height : 23rem !important;
    width: 100%;
    box-shadow: -15px 15px #6c757d;
}
.fw-600{
    font-weight: 600;
}
.fw-400{
    font-weight: 500;
}
.bg-color-contact{
    background-color: #292d33;
}
.rounded-1rem{
    border-radius: 1rem;
}
.rounded-3rem{
    border-radius: 3rem;
}
#difm_link:hover{
    background-color: white !important;
    color: black !important;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48
}
.font-roboto{
    font-family: 'roboto' , sans-serif;
}
.footer-color{
    background-color: #333333;
}
.line-h{
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: fit-content;
}
.z-index-5{
    z-index: 5;
}
.Benefitlnk{
    transition: ease !important;
    transition-duration: 500ms !important;
    padding-bottom: 2px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 3px !important;
    width: fit-content;
    border-color: #6c757d;
    font-weight: bold;    
}
.color-green{
    color: #41e130 !important;
}
.color-blue{
    color: #0d7bae !important;
}

.wh{
    height: 56.922px;
    z-index: -1;
}