.text-justify{
    text-align: justify;
}
.img-all-height{
    max-height: 20rem;
    width: 100%;
    box-shadow: -15px 15px #6c757d;
}
.fw-600{
    font-weight: 600;
}
.fw-400{
    font-weight: 500;
}
.bg-color-contact{
    background-color: #292d33; /* Used in Navbar also */
}
.rounded-1rem{
    border-radius: 1rem;
}
.rounded-3rem{
    border-radius: 5rem;
}
#difm_link:hover{
    background-color: white !important;
    color: black !important;
}
.font-roboto{
    font-family: 'roboto' , sans-serif;
}
.footer-color{
    background-color: #333333;
}
.line-h{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: min-content;
}
.z-index-5{
    z-index: 5;
}
.Benefitlnk{
    transition: ease !important;
    transition-duration: 500ms !important;
    padding-bottom: 0px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 3px !important;
    width: fit-content;
    border-color: white;
    font-weight: bold;
}
.padding{
    padding-top: 6rem;
    padding-bottom: 5rem;
}
.position{
    right: 3%;
    bottom: 8%;
}
#line-height{
    line-height: 3.2rem;
}
.top_link{
    width: 60px;
    height: 60px;
}
.top_link_container{
    width: 75px;
    height: 75px;
}
.bg-color-shadow{
    background-image: linear-gradient( #333333,#6c757d);
}
.fs-48px{
    font-size: 48px;
}